html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}

.logo {
    font-weight: bold;
}

nav {
    margin: auto;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

a {
    font-family: sans-serif;
    display: block;
    padding: 8px;
    background-color: #A9A9A9;
}

div {
    text-align: justify;
    background-color: #A9A9A9;
}

.img-circle {
    border-radius: 50%;
}

div img {
    display: inline-block;
}

div a {
    background-color: #A9A9A9;
    display: inline-block;
    max-height: 100%;
    max-width: 25%;
    padding: 30px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%
}

img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
    margin: 5%;
}