html, body {
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
}

body {
    background-color: #7A82AB;
    color: #242038;
}

.hero {
    position: relative;
    width: 100%
}

.logo {
    font-weight: bold;
}

nav {
    margin: 10px;
    padding: 10px;
    border: 2px;
    color: #7A82AB;
    background-color: #5B5B5B;
}

.text_over_image {
    position: relative;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

a {
    font-family: sans-serif;
    display: block;
    padding: 8px;
    color: #242038;
}

div {
    text-align: justify;
}

.img-circle {
    border-radius: 50%;
}

div img {
    display: inline-block;
}

div a {
    display: inline-block;
    max-height: 100%;
    max-width: 25%;
    padding: 30px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%
}

img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: left;
    padding: 5%;
}

.profile_pic {
    display: block;
    height: 400px;
    margin: auto;
}

.final_links {
    padding: 5%;
}