/*defaults*/

html, body {
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
}

body {
    background-color: #000;
    color: #FF7700;
}

p {
    text-align: center;
}

/*header*/

.hero {
    position: relative;
    width: 100%;
    background-image: url(../img/hellships1.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.hero h1 {
    padding-top: 8%;
    font-size: 32px;
    text-shadow: 0px 0px 10px #000;
}

.hero p {
    text-shadow: 0px 0px 10px #000;
}

.logo {
    font-weight: bold;
}

nav {
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

li a {
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    padding: 13px 8px;
    color: #FF7700;
    transition: 1s;
    opacity: .75;
}

li a:hover {
    color: #CAC4CE;
    text-shadow: 0px 0px 10px #CAC4CE;
    opacity: 1;
}

/*header button*/


.button {
    background-color: #FF7700;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 1s;
    opacity: .5;
}

.button:hover {
    color: #ff7700;
    text-shadow: 0px 0px 10px #CAC4CE;
    opacity: 1;
}

/*body*/

div {
    text-align: justify;
}

.img-circle {
    border-radius: 50%;
    border: 2px solid #000;
    transition: 1s;
}

.img-circle:hover {
    border: 2px solid #FF7700;
}

div img {
    display: inline-block;
}

div a {
    display: inline-block;
    max-height: 100%;
    max-width: 25%;
    padding: 30px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%
}

img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    padding: 5%;
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    text-shadow: 0px 0px 5px #FFF;
}

/*other pages than index*/

.profile_pic {
    display: block;
    height: 400px;
    margin: auto;
}

/*footer*/

.final_links {
    padding: 5% 20% 5% 20%;
}

.final_links img {
    border-radius: 50%;
    max-height: 120px;
}

.final_img {
    border: 2px solid #000;
    transition: 1s;
}

.final_img:hover {
    border: 2px solid #ff7700;
}

/* mobile */
/*

@media screen and (min-width: 480px) {
    html {
        font-size: 20px;
    }
    
    nav
}*/
